@model Microsoft.Sample.Automation.Scheduling.Entities.Tool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tool</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
        <div class="display-label">
         @Html.DisplayNameFor(model => model.EndPointAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndPointAddress)
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
