@model IEnumerable<Microsoft.Sample.Automation.Scheduling.Entities.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Adhoc", "Create")
    @Html.ActionLink("Daily", "CreateDaily")
    @Html.ActionLink("Weekly", "CreateWeekly")
    @Html.ActionLink("Monthly", "CreateMonthly")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTimeUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTimeUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTimeUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTimeUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
